In [1]:
import pandas as pd

In [12]:
data = pd.read_csv('exchangerates.csv')
data

,date,myr_usd,myr_rmb,myr_sgd,myr_eur,myr_jpy,myr_twd,myr_thb,myr_idr,myr_hkd,...,myr_aed,myr_sar,myr_try,myr_gbp,myr_brl,myr_mxn,myr_bdt,myr_chf,myr_cad,myr_rub
0,2003-12-01,0.263380,2.177413,0.453461,0.220125,28.753161,8.359132,10.506216,2238.306086,2.045143,...,0.966999,0.987621,0.353535,0.153253,0.769859,2.991467,14.910451,0.341893,0.343500,7.822377
1,2003-12-02,0.263359,2.177241,0.452977,0.217850,28.635010,8.359132,10.494587,2234.889529,2.043507,...,0.966922,0.987543,0.353535,0.152203,0.771905,2.973322,14.934028,0.338996,0.341471,7.819125
2,2003-12-03,0.263838,2.181178,0.452773,0.217635,28.573691,8.359132,10.502612,2234.156621,2.047491,...,0.968682,0.989341,0.353535,0.152675,0.773310,2.966862,14.980212,0.339085,0.343016,7.833360
3,2003-12-04,0.263248,2.176271,0.451075,0.217903,28.501853,8.359132,10.495695,2235.633105,2.044463,...,0.966515,0.987127,0.353535,0.152989,0.774739,2.945218,14.935109,0.339195,0.345223,7.813199
4,2003-12-05,0.263880,2.181470,0.452290,0.216527,28.398777,8.359132,10.505859,2234.826884,2.047630,...,0.968915,0.989498,0.353535,0.152259,0.774224,2.954665,14.977571,0.335761,0.343809,7.816129
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7612,2024-10-03,0.239751,1.687293,0.309767,0.216998,35.143130,7.626948,7.885638,3673.939014,1.861105,...,0.880364,0.898661,8.206808,0.180724,1.304315,4.653128,28.249908,0.203766,0.323781,22.931386
7613,2024-10-04,0.237107,1.670445,0.307315,0.214857,34.816832,7.591701,7.850622,3664.967179,1.841228,...,0.870658,0.889203,8.115423,0.180581,1.298471,4.584588,27.970692,0.201970,0.321238,22.404861
7614,2024-10-05,0.237107,1.670445,0.307315,0.214857,34.816832,7.591701,7.850622,3664.967179,1.841228,...,0.870658,0.889203,8.115423,0.180581,1.298471,4.584588,27.970692,0.201970,0.321238,22.404861
7615,2024-10-06,0.237107,1.670445,0.307315,0.214857,34.816832,7.591701,7.850622,3664.967179,1.841228,...,0.870658,0.889203,8.115423,0.180581,1.298471,4.584588,27.970692,0.201970,0.321238,22.404861
7616,2024-10-07,0.233754,1.640393,0.304689,0.212786,34.624826,7.517298,7.816737,3663.861739,1.815409,...,0.858555,0.877279,8.009430,0.178595,1.281908,4.516183,28.022441,0.199670,0.318069,22.458158

In [13]:
# I only need the records from 2024 onwards 
# date format is (YYYY-MM-DD)
data['date'] = pd.to_datetime(data['date'])
data = data[data['date'].dt.year >= 2024]
data

,date,myr_usd,myr_rmb,myr_sgd,myr_eur,myr_jpy,myr_twd,myr_thb,myr_idr,myr_hkd,...,myr_aed,myr_sar,myr_try,myr_gbp,myr_brl,myr_mxn,myr_bdt,myr_chf,myr_cad,myr_rub
7336,2024-01-01,0.217746,1.539162,0.287273,0.197256,30.729668,6.677975,7.474360,3349.591600,1.700525,...,0.799521,0.816440,6.407882,0.171066,1.056592,3.693524,23.608981,0.183318,0.288340,19.426237
7337,2024-01-02,0.217344,1.540882,0.288272,0.198637,30.896545,6.711367,7.435340,3368.398250,1.698529,...,0.798044,0.814022,6.464869,0.172180,1.069876,3.699065,23.504744,0.184769,0.289546,19.646816
7338,2024-01-03,0.217344,1.542904,0.288718,0.198892,31.079982,6.746773,7.485329,3380.786862,1.696914,...,0.798044,0.814131,6.472306,0.171484,1.069159,3.697490,23.473008,0.184503,0.290104,19.988046
7339,2024-01-04,0.215843,1.534643,0.286939,0.197164,31.246493,6.702785,7.444204,3347.938801,1.685539,...,0.792532,0.808537,6.440946,0.170168,1.056680,3.671185,23.330475,0.183466,0.288258,19.709692
7340,2024-01-05,0.214961,1.524613,0.285817,0.196451,31.108341,6.653482,7.445615,3327.063602,1.679114,...,0.789295,0.806062,6.402468,0.169024,1.044855,3.628749,23.171434,0.182874,0.287184,19.538907
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7612,2024-10-03,0.239751,1.687293,0.309767,0.216998,35.143130,7.626948,7.885638,3673.939014,1.861105,...,0.880364,0.898661,8.206808,0.180724,1.304315,4.653128,28.249908,0.203766,0.323781,22.931386
7613,2024-10-04,0.237107,1.670445,0.307315,0.214857,34.816832,7.591701,7.850622,3664.967179,1.841228,...,0.870658,0.889203,8.115423,0.180581,1.298471,4.584588,27.970692,0.201970,0.321238,22.404861
7614,2024-10-05,0.237107,1.670445,0.307315,0.214857,34.816832,7.591701,7.850622,3664.967179,1.841228,...,0.870658,0.889203,8.115423,0.180581,1.298471,4.584588,27.970692,0.201970,0.321238,22.404861
7615,2024-10-06,0.237107,1.670445,0.307315,0.214857,34.816832,7.591701,7.850622,3664.967179,1.841228,...,0.870658,0.889203,8.115423,0.180581,1.298471,4.584588,27.970692,0.201970,0.321238,22.404861
7616,2024-10-07,0.233754,1.640393,0.304689,0.212786,34.624826,7.517298,7.816737,3663.861739,1.815409,...,0.858555,0.877279,8.009430,0.178595,1.281908,4.516183,28.022441,0.199670,0.318069,22.458158

In [14]:
# save the data to a new csv file
data.to_csv('exchangerates_2024.csv', index=False)

In [5]:
import pandas as pd

# Load the dataset
df = pd.read_csv('exchangerates.csv')

# Convert the 'date' column to datetime format
df['date'] = pd.to_datetime(df['date'])

# Filter for rows starting from 2024-01-01
filtered_df = df[df['date'] >= '2024-01-01']

# List of exchange rate columns
exchange_rate_columns = [
    'myr_usd', 'myr_rmb', 'myr_sgd', 'myr_eur', 'myr_jpy', 'myr_twd', 'myr_thb', 'myr_idr', 
    'myr_hkd', 'myr_krw', 'myr_vnd', 'myr_inr', 'myr_aud', 'myr_php', 'myr_aed', 'myr_sar', 
    'myr_try', 'myr_gbp', 'myr_brl', 'myr_mxn', 'myr_bdt', 'myr_chf', 'myr_cad', 'myr_rub'
]

# Melt the dataset to have a country column and the exchange rate
df_melted = filtered_df.melt(id_vars=['date'], value_vars=exchange_rate_columns, 
                             var_name='currency', value_name='exchange_rate')

# Calculate average exchange rate for each currency in 2024
avg_exchange_rates = df_melted.groupby('currency')['exchange_rate'].mean().reset_index()

# Map the 'currency' column to country names or ISO country codes that match TopoJSON
currency_to_country = {
    'myr_usd': 'United States of America',  
    'myr_rmb': 'China', 
    'myr_sgd': 'Singapore', 

    # Euro Area countries
    'myr_eur': ['France', 'Germany', 'Italy', 'Spain', 'Netherlands', 'Belgium', 'Austria', 
                'Portugal', 'Finland', 'Greece', 'Ireland', 'Slovakia', 'Slovenia', 'Cyprus', 
                'Estonia', 'Latvia', 'Lithuania', 'Luxembourg', 'Malta', 'Monaco', 'San Marino', 
                'Vatican City', 'Andorra', 'Kosovo', 'Montenegro'],
    
    'myr_jpy': 'Japan', 
    'myr_twd': 'Taiwan', 
    'myr_thb': 'Thailand', 
    'myr_idr': 'Indonesia', 
    'myr_hkd': 'Hong Kong SAR', 
    'myr_krw': 'Korea, Republic of',  
    'myr_vnd': 'Vietnam', 
    'myr_inr': 'India', 
    'myr_aud': 'Australia', 
    'myr_php': 'Philippines', 
    'myr_sar': 'Saudi Arabia', 
    'myr_try': 'Turkey', 
    'myr_gbp': 'United Kingdom', 
    'myr_brl': 'Brazil', 
    'myr_mxn': 'Mexico', 
    'myr_bdt': 'Bangladesh', 
    'myr_chf': 'Switzerland', 
    'myr_cad': 'Canada', 
    'myr_rub': 'Russia'
}

# Create a new DataFrame for Euro countries
euro_df = pd.DataFrame()

# Add the same exchange rate for each Euro country
avg_eur_rate = avg_exchange_rates[avg_exchange_rates['currency'] == 'myr_eur']['exchange_rate'].values[0]
for country in currency_to_country['myr_eur']:
    euro_df = pd.concat([euro_df, pd.DataFrame({'currency': ['myr_eur'], 'exchange_rate': [avg_eur_rate], 'country': [country]})], ignore_index=True)

# Apply the mapping for single country currencies
avg_exchange_rates['country'] = avg_exchange_rates['currency'].map(lambda x: currency_to_country.get(x) if isinstance(currency_to_country.get(x), str) else None)

# Combine the Euro countries DataFrame with the main DataFrame
avg_exchange_rates = pd.concat([avg_exchange_rates, euro_df], ignore_index=True)

# Drop any rows where the 'country' column is NaN (for example, UAE)
avg_exchange_rates = avg_exchange_rates.dropna(subset=['country'])

# Save the dataset for Vega-Lite
avg_exchange_rates[['country', 'exchange_rate']].to_csv('avg_exchange_rates_2024.csv', index=False)